@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.87);
}

body {
  background-color: #eceff1;
}

a {
  color: #1565c0;
}

@media (min-width: 1280px) {
  .container {
    max-width: 1184px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1184px;
  }
}

.card {
  @apply bg-card-bg shadow-card rounded-md p-8;
}

img {
  max-width: 100%;
}
